// Colors
$white: #ffffff;
$black: #000000;
$maya: #73C2FB;
$gray: #cccccc;

//font size
$fontSmall: 14px;
$fontNormal: 16px;
$fontTitleSmall: 20px;
$fontTitle: 22px;

//images
$topBarLogoOnTop: url('/storage/images/home/stockx-logo.svg');
$topBarLogo: url('/storage/images/home/stockx-logo-dark.svg');
$homeBanner: url('/storage/images/home/banner.jpg');