// Colors
$white: #ffffff !important;
$black: #000000 !important;
$maya: #73C2FB !important;
$gray: #cccccc !important; 
$green: #509e2f !important;
$hoverGreen: #32631d !important;
$cardColor: rgb(250, 250, 250) !important;
$greenActive: rgb(235, 244, 231) !important;
$borderColor: rgb(222, 226, 230) !important;
$listBannerColor: rgb(236, 236, 236) !important;
$red: #ff5a5f !important;
$breadcrumb: rgb(102, 102, 102) !important;
$breadcrumbHover: rgb(0, 187, 227) !important; 
$paginatorLink: rgb(97, 97, 97) !important;
$paginatorActive: rgb(80, 158, 47) !important;
$paginatorHover: rgb(151, 209, 125) !important;
$linkColor: #00bbe3;
$linkHoverColor: #007c96;
$statTitleColor: #999 !important;

//font size
// $fontExtraSmall: 12px !important;
// $fontSmall: 14px !important;
// $fontNormal: 16px !important;
// $fontMedium: 18px !important;
// $fontLarge: 20px !important;
// $fontExtraLarge: 22px !important;
// $fontDoubleExtraLarge: 24px !important;

//images
$topBarLogoOnTop: url('/storage/images/home/stockx-logo.svg');
$topBarLogo: url('/storage/images/home/stockx-logo-dark.svg');
$homeBanner: url('/storage/images/home/banner.jpg');

/* Mixin */
$mobile-width: 480px; 
$tablet-width: 768px; 
$small-desktop-width: 992px;
$desktop-width: 1200px;

//<=479
@mixin mobile { 
	@media (max-width: #{$mobile-width - 1px}) {
		@content;   
	} 
}
//>=480->767
@mixin small-tablet {
	@media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {       
		@content;
	}
}

//<=767
@mixin smaller-than-tablet { 
	@media (max-width: #{$tablet-width - 1px}) {     
		@content;  
	} 
}
//>=768 -> 991
@mixin tablet { 
	@media (min-width: #{$tablet-width}) and (max-width: #{$small-desktop-width - 1px}) {       
		@content;   
	} 
}

//<=991
@mixin smaller-than-small-desktop {   
	@media (max-width: #{$small-desktop-width - 1px}) {     
		@content;  
	} 
}
//>=992 -> 1199
@mixin small-desktop {
	@media (min-width: #{$small-desktop-width}) and (max-width: #{$desktop-width - 1px}){     
		@content;  
	} 
}

//<=1199
@mixin smaller-than-desktop {   
	@media (max-width: #{$desktop-width - 1px}) {     
		@content;  
	} 
}
//>=1200
@mixin desktop {   
	@media (min-width: #{$desktop-width}) {     
		@content;  
	} 
}
//>768
@mixin use-for-pc { 
	@media (min-width: #{$tablet-width}) {
		@content;   
	} 
}

//=649
@mixin special_screen { 
	@media (max-width: 649px) {
		@content;   
	} 
}

//=<1024
@mixin laptop { 
	@media (max-width: 1024px) {
		@content;   
	} 
}

@mixin fontExtraSmall {
	font-size: 12px !important;

	@include mobile {
		font-size: 8px !important;
	}
	@include tablet {
		font-size: 10px !important;
	}
	@include small-desktop {
		font-size: 10px !important;
	}
}
@mixin fontSmall {
	font-size: 14px !important;

	@include mobile {
		font-size: 10px !important;
	}
	@include tablet {
		font-size: 12px !important;
	}
	@include small-desktop {
		font-size: 12px !important;
	}
}
@mixin fontNormal {
	font-size: 16px !important;

	@include mobile {
		font-size: 12px !important;
	}
	@include tablet {
		font-size: 14px !important;
	}
	@include small-desktop {
		font-size: 14px !important;
	}
}
@mixin fontMedium{
	font-size: 18px !important;

	@include mobile {
		font-size: 14px !important;
	}
	@include tablet {
		font-size: 16px !important;
	}
	@include small-desktop {
		font-size: 16px !important;
	}
}
@mixin fontLarge {
	font-size: 20px !important;

	@include mobile {
		font-size: 16px !important;
	}
	@include tablet {
		font-size: 18px !important;
	}
	@include small-desktop {
		font-size: 18px !important;
	}
}
@mixin fontExtraLarge {
	font-size: 22px !important;

	@include mobile {
		font-size: 18px !important;
	}
	@include tablet {
		font-size: 20px !important;
	}
	@include small-desktop {
		font-size: 20px !important;
	}
}
@mixin fontDoubleExtraLarge {
	font-size: 24px !important;

	@include mobile {
		font-size: 20px !important;
	}
	@include tablet {
		font-size: 22px !important;
	}
	@include small-tablet {
		font-size: 22px !important;
	}
	@include small-desktop {
		font-size: 22px !important;
	}
}


