#home-banner {
	width: 100%;
	background-image: $homeBanner;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 91px;
	padding-left: 15px;
	padding-right: 15px;
	@include smaller-than-tablet {
		display: none;
	}
	.banner-container {
		margin-top: 20px;
		padding-top: 35px;
		text-align: center;
		color: #fff !important;
		.litle {
			font-weight: 600;
			font-size: 20px;
		}
		.big {
			font-weight: 600;
			font-size: 60px;
			letter-spacing: 2px;
			line-height: normal;
			margin: auto;
    		width: 98%;
    		text-transform: uppercase;
		}
		.form-search {
			margin: 10px auto;
			width: 60%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include fontExtraLarge;
			.searchbox {
				padding-left: 25px;
			    height: 50px;
			    font-weight: 500;
			    width: 100%;
			    padding-right: 10%;
			    margin-right: 20px;
			    border: none;
			    @include fontExtraLarge;
			}
			.home-btn-search {
				margin: 0;
			    border-radius: 5px;
			    border: none;
			    letter-spacing: 2px;
			    height: 50px;
			    background-color: $green;
			    padding: 10px 15px;
			    color: #fff !important;
			    &:hover {
			    	background-color: $hoverGreen;
			    }
			}
		}
	}
}
.switcher {
	display: flex;
	justify-content: center;
	.switcher-item {
	    @include fontDoubleExtraLarge;
	    letter-spacing: 2px;
	    font-weight: 600;
	    color: $white;
	    cursor: pointer;
	    margin: 10px 25px 0px;
	    text-transform: uppercase;
	    @include smaller-than-tablet {
			color: $black;
			margin: 10px 0px 0px;
		}
	    &.active {
	    	border-bottom: 4px solid rgb(80, 158, 47);
	    }
	    &:hover {
	    	border-bottom: 4px solid rgb(80, 158, 47);
	    }
	}
	&.switcher-mobile {
		display: flex;
		justify-content: space-around;
		.switcher-item {
			@include fontNormal;
		}
	}
}
#home-slider {
	.home-slider {
		
	    overflow: hidden;
	    border-bottom: 1px solid rgb(206, 206, 206);
	    .home-slider-item {
	    	position: relative;
	    	height: 190px;
	    	@include small-desktop {
	    		height: 150px !important;
	    	}
	    	@include smaller-than-tablet {
	    		height: 130px !important;
	    	}
	    	img {
		    	position: absolute;
		    	max-width: 100%;
				min-height: 100%;
	    	}
	    }
	}
}
#home-container {
	.home-row {
		margin-top: 24px;
		margin-bottom: 16px;
		.home-row-container {
			display: flex;
			align-items: center;
			overflow: auto;
			&::-webkit-scrollbar { 
		        display: none; 
		    } 
			margin-right: -15px;
    		margin-left: -15px;
    		@include smaller-than-tablet {
				margin-right: 0px;
    			margin-left: 0px;
			}
		}
		.home-row-col {
			width: 20%;
			padding: 0 8px;
			@include smaller-than-tablet {
				min-width: 200px;
			}
		}
		.home-row-category-col {
			width: 25%;
			padding: 0 8px;
			@include smaller-than-tablet {
				min-width: 180px;
			}
		}
	}
}
#home-news-release {
	.home-news {
		width: 100%;
		.home-news-container {
			display: flex;
			flex-direction: column;
			.new-article {
				margin-top: 24px;
				padding-bottom: 25px;
				@include tablet {
					margin-top: 15px;
					padding-bottom: 15px;
				}
				@include smaller-than-tablet {
					margin-top: 15px;
					padding-bottom: 15px;
				}
				.new-article-title {
					font-weight: 600;
					@include fontMedium;
					color: $black;
				}
				.new-article-info {
					opacity: 0.5;
				}
				&:last-child {
					border-bottom: none !important;
				}
			}
		}
	}
}
.home-trade-mark {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	overflow: auto;
	@include fontDoubleExtraLarge;
	&::-webkit-scrollbar { 
        display: none; 
    } 
}
.browse-all-button {
	width: fit-content;
    background-color: $green;
    color: $white;
    @include fontLarge;
    font-weight: normal;
    text-align: center;
    padding: 25px 30px 22px;
    margin: 45px auto;
    border-radius: 4px;
    @include smaller-than-tablet {
    	font-size: 14px !important;
    	padding: 10px;
    }
    &:hover {
    	cursor: pointer;
		background-color: $hoverGreen;
    }
}

