.portfolios-page {
	margin-top: 90px;
	table {
		.p-u {
		    width: 20%;
		}
		.p-s {
		    width: 15%;
		}
		.p-mv {
			width: 15%;
			background: #f5f5f5;
		}
		.p-gl {
			width: 20%;
		}
		.p-ap {
			width: 15%;
		}
		.p-img {
			img {
				width: 80px;
			}
		}
		td {
			vertical-align: middle;
			font-size: 16px;
			font-weight: 600;
		}
		th, td {
			text-align: center;
		}
		th:first-child, td:first-child {
			text-align: initial;
		}
		thead th {
			border-top: none;
			font-size: 20px;
			font-weight: 700;
		}
		.caret {
			display: inline-block;
    		width: 0;
    		height: 0;
    		margin-left: 2px;
    		vertical-align: middle;
    		border-top: 4px dashed;
    		border-top: 4px solid\9;
    		border-right: 4px solid transparent;
    		border-left: 4px solid transparent;
		}
		.green {
		    color: #509e2f;
		}
		.green:hover {
		    color: #509e2f;
		}
		.red {
		    color: #ff5a5f;
		}
		.red:hover {
		    color: #ff5a5f;
		}
	}

	.productCol {
		display: flex;
		align-items: center;
		.p-img {
			padding-right: 10px;
		}
	}
}

.title-container {
    background: linear-gradient(#e5e5e5, #f5f5f5, #f5f5f5, #f5f5f5);
    background-color: #f5f5f5;
    margin: 0 0 25px;
    min-height: 170px;
    display: flex;
    align-items: center;
    font-family: BebasNeue;
    h1 {
    	font-size: 50px;
    	margin-bottom: 0;
    	margin-top: 4px;
    }
}

.ui.sticky.fixed {
	display: table;
	background: #fff;
}

.tfootSticky {
	width: 100%;
	max-width: 1110px;
}