/* Mixin */

body {
  background-color: #fff;
  font-size: 16px;
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

a {
  color: #00bbe3;
  text-decoration: none !important;
}

a:hover {
  color: #007c96;
}

ul {
  padding: 0px;
}

.icon-16 {
  height: 16px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-24 {
  font-size: 24px !important;
}

.green {
  color: #509e2f !important;
}

.green:hover {
  color: #32631d !important;
}

@media (max-width: 767px) {
  .mobile-container {
    margin: 0 !important;
    max-width: 100% !important;
  }
}

.site-margin-top {
  margin-top: 90px;
}

@media (max-width: 767px) {
  .site-margin-top {
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  .site-mobile-margin-top {
    margin-top: 45px;
  }
}

#top-bar .topbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  transition: all 500ms;
  display: flex;
  align-items: center;
  min-height: 90px;
  z-index: 100000000;
}

@media (max-width: 767px) {
  #top-bar .topbar {
    display: none;
  }
}

#top-bar .topbar .topbar-logo {
  content: url("/storage/images/home/stockx-logo-dark.svg");
  height: 50px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #top-bar .topbar .topbar-logo {
    height: 40px;
  }
}

#top-bar .topbar .topbar-search {
  width: 50%;
  padding-right: 30px;
}

#top-bar .topbar .topbar-menu {
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

#top-bar .topbar .topbar-menu .topbar-item {
  margin: 0 3px;
  white-space: nowrap;
  font-size: 16px;
  position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
  #top-bar .topbar .topbar-menu .topbar-item {
    font-size: 12px;
  }
}

#top-bar .topbar .topbar-menu .topbar-item .topbar-link {
  font-weight: 500;
  color: #000;
  position: relative;
  padding: 8px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #top-bar .topbar .topbar-menu .topbar-item .topbar-link {
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #top-bar .topbar .topbar-menu .topbar-item .topbar-link {
    padding: 0px;
  }
}

#top-bar .topbar .topbar-menu .topbar-item.topbar-item-sell .topbar-link {
  border: 1px solid #ff5a5f !important;
  border-radius: 20px !important;
  color: #ff5a5f !important;
  padding: 5px 15px;
}

#top-bar .topbar .topbar-menu-hide {
  display: none !important;
}

#top-bar .topbar.on-top {
  background-color: transparent;
}

#top-bar .topbar.on-top .topbar-logo {
  content: url("/storage/images/home/stockx-logo.svg");
}

#top-bar .topbar.on-top .topbar-link {
  color: #ffffff !important;
}

#top-bar .topbar-mobile {
  display: none;
  position: fixed;
  top: 0;
  height: 45px;
  width: 100%;
  background-color: #ffffff !important;
  z-index: 100000;
}

@media (max-width: 767px) {
  #top-bar .topbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#top-bar .topbar-mobile .topbar-logo {
  content: url("/storage/images/home/stockx-logo-dark.svg");
  height: 50px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #top-bar .topbar-mobile .topbar-logo {
    height: 40px;
  }
}

#top-bar .topbar-mobile .topbar-mobile-search {
  width: 80%;
}

#top-bar .topbar-mobile .search-toggle {
  width: 50px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

#top-bar .topbar-mobile .navbar-toggler {
  border: none;
}

#top-bar .topbar-mobile-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  background-color: #ffffff !important;
  overflow-y: scroll;
  transition: all 0.3s linear 0s;
  margin-top: 45px;
}

#top-bar .topbar-mobile-menu .topbar-item {
  padding: 9px 0px 9px 14px;
  font-size: 20px;
  text-align: left;
}

#top-bar .topbar-mobile-menu .topbar-item .topbar-link {
  color: #000000 !important;
}

#top-bar .topbar-mobile-menu .topbar-mobile-btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 13px 0px 20px;
}

#top-bar .topbar-mobile-menu .topbar-mobile-menu-hide {
  display: none !important;
}

#top-bar .topbar-mobile-menu .topbar-mobile-sup-menu {
  padding: 0px !important;
  background-color: #fafafa !important;
}

#top-bar .topbar-mobile-menu .topbar-mobile-sup-menu .sup-item {
  padding: 9px 14px 9px 14px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-login {
  width: 45%;
  margin-left: 8px;
  margin-right: 0px;
  background: white;
  border-width: 1px;
  border-style: solid;
  border-color: #c7c7c7;
  border-radius: 4px;
  text-align: center;
  color: #000000 !important;
  padding: 11px 0;
  font-size: 14px;
}

.btn-signup {
  width: 45%;
  margin-left: 0px;
  margin-right: 8px;
  background: #509e2f;
  border-radius: 4px;
  text-align: center;
  color: #ffffff !important;
  padding: 11px 0;
  font-size: 14px;
}

.product-card {
  width: 100%;
}

.product-card .product-card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #fafafa !important;
}

.product-card .product-card-container .product-card-top {
  width: 100%;
  padding: 16px;
}

.product-card .product-card-container .product-card-top img {
  max-width: 100%;
  min-height: 100%;
}

.product-card .product-card-container .product-card-bottom {
  background-color: #fafafa !important;
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: #000000 !important;
  font-weight: normal;
  font-size: 16px !important;
}

.product-card .product-card-container .product-card-bottom .product-name {
  height: 38px;
  overflow: hidden;
  line-height: 1.3;
}

.product-card .product-card-container .product-card-bottom .product-type {
  font-size: 14px !important;
  opacity: 0.5;
}

.product-card .product-card-container .product-card-bottom .product-pride {
  font-weight: 700;
}

.product-card .product-card-container .product-card-bottom .product-more-info {
  font-size: 14px !important;
  opacity: 0.5;
}

.product-release-card {
  width: 100%;
  border: 1px solid #dcdcdc;
}

.product-release-card .product-release-card-container {
  display: flex;
  flex-direction: column;
}

.product-release-card .product-release-card-container .product-release-card-top {
  width: 100%;
  padding: 16px;
  font-size: 18px !important;
}

@media (max-width: 479px) {
  .product-release-card .product-release-card-container .product-release-card-top {
    font-size: 14px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-release-card .product-release-card-container .product-release-card-top {
    font-size: 16px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .product-release-card .product-release-card-container .product-release-card-top {
    font-size: 16px !important;
  }
}

.product-release-card .product-release-card-container .product-release-card-top img {
  max-width: 100%;
  min-height: 100%;
}

.product-release-card .product-release-card-container .product-release-card-bottom {
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: #000000 !important;
  font-weight: normal;
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-release-card .product-release-card-container .product-release-card-bottom {
    padding: 10px;
  }
}

.product-release-card .product-release-card-container .product-release-card-bottom .product-release-name {
  height: 38px;
  overflow: hidden;
  line-height: 1.3;
}

@media (max-width: 767px) {
  .product-release-card .product-release-card-container .product-release-card-bottom .product-release-name {
    height: 30px;
  }
}

.product-release-card .product-release-card-container .product-release-card-bottom .product-release-type {
  font-size: 14px !important;
  opacity: 0.5;
}

@media (max-width: 479px) {
  .product-release-card .product-release-card-container .product-release-card-bottom .product-release-type {
    font-size: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-release-card .product-release-card-container .product-release-card-bottom .product-release-type {
    font-size: 12px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .product-release-card .product-release-card-container .product-release-card-bottom .product-release-type {
    font-size: 12px !important;
  }
}

.product-release-card .product-release-card-container .product-release-card-bottom .product-release-pride {
  font-weight: 700;
}

.product-release-card .product-release-card-container .product-release-card-bottom .product-release-more-info {
  opacity: 0.5;
}

.category-card {
  width: 100%;
  position: relative;
  height: auto;
}

.category-card .category-card-image {
  max-width: 100%;
  min-height: 100%;
}

.category-card .category-card-brand {
  width: 56px;
  height: 56px;
  z-index: 1;
  position: absolute;
  left: 75%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .category-card .category-card-brand {
    left: 70%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .category-card .category-card-brand {
    width: 40px;
    height: 40px;
    left: 70%;
  }
}

@media (max-width: 767px) {
  .category-card .category-card-brand {
    width: 40px;
    height: 40px;
    left: 70%;
  }
}

.btn-see-all {
  color: #509e2f !important;
}

.btn-see-all:hover {
  color: #32631d !important;
}

.btn-bid {
  padding: 5px;
  border: 3px solid #509e2f !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  color: #509e2f !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn-bid {
    padding: 9px 12px 6px;
  }
}

.btn-bid:hover {
  color: #32631d !important;
  border: 3px solid #32631d !important;
}

.home-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-section-header .title {
  font-weight: 700;
  font-size: 22px !important;
}

@media (max-width: 479px) {
  .home-section-header .title {
    font-size: 18px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-section-header .title {
    font-size: 20px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home-section-header .title {
    font-size: 20px !important;
  }
}

.home-section-header .title-small {
  font-weight: 700;
  font-size: 20px !important;
}

@media (max-width: 479px) {
  .home-section-header .title-small {
    font-size: 16px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-section-header .title-small {
    font-size: 18px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home-section-header .title-small {
    font-size: 18px !important;
  }
}

.link-see-all {
  color: #509e2f !important;
  font-size: 14px !important;
}

@media (max-width: 479px) {
  .link-see-all {
    font-size: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .link-see-all {
    font-size: 12px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .link-see-all {
    font-size: 12px !important;
  }
}

.link-see-all:hover {
  color: #32631d !important;
}

.has-sup-menu .sup-menu {
  position: absolute;
  top: 100%;
  left: -100px;
  z-index: 1000;
  display: none;
  flex-direction: column;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
}

.has-sup-menu .sup-menu .sup-item {
  padding: 8px;
  cursor: pointer;
  font-size: 16px !important;
}

@media (max-width: 479px) {
  .has-sup-menu .sup-menu .sup-item {
    font-size: 12px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .has-sup-menu .sup-menu .sup-item {
    font-size: 14px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .has-sup-menu .sup-menu .sup-item {
    font-size: 14px !important;
  }
}

.has-sup-menu .sup-menu .sup-item .sup-menu {
  top: 0;
  left: 100%;
}

.has-sup-menu .sup-menu .sup-item:hover {
  background-color: #cccccc !important;
}

.has-sup-menu:hover > .sup-menu {
  display: flex;
}

.has-sup-menu.sup-item:hover {
  background-color: #cccccc !important;
  border-right: 3px solid #509e2f !important;
}

.paginator {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: proxima-nova;
  font-weight: bold;
  font-size: 14px;
  height: 42px;
  width: 294px;
  margin: auto;
  padding: 10px 0px 0px;
  list-style-type: none;
}

.paginator .paginator-item {
  background-color: #fafafa !important;
  width: 32px;
  height: 32px;
  text-align: center;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 3px;
  margin: 0px 5px;
  padding: 6px;
}

.paginator .paginator-item:hover {
  background-color: #97d17d !important;
}

.paginator .paginator-item:hover .paginator-link {
  color: #ffffff !important;
}

.paginator .paginator-item.active {
  background-color: #509e2f !important;
}

.paginator .paginator-item.active .paginator-link {
  color: #ffffff !important;
}

.paginator .paginator-item .paginator-link {
  color: #616161 !important;
}

.paginator .paginator-item.paginator-arrow .paginator-link {
  color: #509e2f !important;
}

.paginator .paginator-item.paginator-arrow:hover {
  background-color: #fafafa !important;
}

.paginator .paginator-item.paginator-arrow:hover .paginator-link {
  color: #97d17d !important;
}

.gray-gradient {
  background: linear-gradient(#e5e5e5, #f5f5f5, #fff, #fff);
  background-color: #fff;
  height: 20px;
}

.value-increase {
  color: #509e2f !important;
}

.value-decrease {
  color: #ff5a5f !important;
}

@media (min-width: 1200px) {
  .col-xl-2-5 {
    flex: 0 0 20%;
    width: 20%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-lg-2-5 {
    flex: 0 0 20%;
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-2-5 {
    flex: 0 0 20%;
    width: 20%;
  }
}

.col-2-5 {
  flex: 0 0 20%;
  width: 20%;
}

@media (max-width: 767px) {
  .mobile-row {
    overflow: auto;
    flex-wrap: nowrap;
  }
}

@media (max-width: 767px) {
  .mobile-min-width-200 {
    min-width: 200px;
  }
}

.related-banner {
  text-align: center;
}

.related-banner .related-banner-content {
  top: -6px;
  background-color: #2e2e2e;
  color: #fff;
  display: inline-block;
  padding: 12px 20px;
  position: relative;
  text-transform: uppercase;
}

.related-banner .related-banner-content:before {
  content: " ";
  width: 0;
  height: 0;
  border-color: transparent transparent #000;
  border-style: solid;
  border-width: 0 0 6px 6px;
  left: -5px;
  position: absolute;
  top: 0;
}

.footer {
  padding-top: 34px;
  background-color: #3d3d3d;
}

.footer .brand {
  display: flex;
  padding: 0 20px 14px 20px;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer .brand .col-brand {
  padding-right: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .brand .col-brand {
    flex-flow: wrap;
    width: 33%;
  }
}

@media (max-width: 479px) {
  .footer .brand .col-brand {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .brand {
    flex-flow: wrap;
  }
}

@media (max-width: 479px) {
  .footer .brand {
    display: block;
    padding-left: 30px;
  }
}

.footer .title-option {
  font-size: 13px;
  padding: 20px 0 10px;
  font-size: 14px !important;
}

.footer .title-option a {
  color: #fff;
}

@media (max-width: 479px) {
  .footer .title-option {
    font-size: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .title-option {
    font-size: 12px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer .title-option {
    font-size: 12px !important;
  }
}

.footer .list-option ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer .list-option ul li {
  padding-top: 8px;
  font-size: 13px;
}

.footer .list-option ul li a {
  font-weight: bold;
  color: #808080;
}

.footer .contract {
  border-top: 1px solid #808080;
}

.footer .container-contract {
  padding: 14px 15px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .container-contract .btn-change {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 12px;
  min-width: 140px;
  cursor: pointer;
  justify-content: space-around;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 0px 5px;
  color: #c3c3c3;
  width: 10%;
}

.footer .container-contract .btn-change span:nth-child(2) {
  color: #808080;
  height: 50%;
  border-left: 1px solid;
}

.footer .container-contract .social {
  width: 50%;
}

.footer .container-contract .social .social-link {
  padding: 8px;
}

.footer .container-contract .social .social-link .icon {
  max-width: 17px;
}

.footer .container-contract .app {
  color: #c3c3c3;
}

.footer .container-contract .app .app-link {
  padding: 8px;
}

.footer .container-contract .app .app-link .icon {
  max-width: 17px;
}

.footer .container-contract .proudly {
  color: #c3c3c3;
}

.footer .container-contract .proudly a {
  color: #808080;
  font-size: 14px;
}

@media (max-width: 479px) {
  .footer .container-contract {
    flex-direction: column;
  }
}

.footer .footerBottom {
  background: #2d2d2d;
}

@media (max-width: 479px) {
  .footer .footerBottom {
    display: flex;
    justify-content: center;
  }
}

.footer .site-footer {
  padding: 21px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #808080;
}

.footer .site-footer .information-link {
  display: flex;
  font-size: 12px;
  font-size: 12px !important;
}

.footer .site-footer .information-link .link {
  padding: 0 8px;
  border-left: 1px solid #808080;
}

.footer .site-footer .information-link .link a {
  text-transform: uppercase;
  color: #808080;
}

@media (max-width: 479px) {
  .footer .site-footer .information-link .link {
    padding: 10px 12px;
    border: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .site-footer .information-link .link {
    padding: 0 5px;
  }
}

.footer .site-footer .information-link .firt-link {
  border-left: 0;
}

@media (max-width: 479px) {
  .footer .site-footer .information-link {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 479px) {
  .footer .site-footer .information-link {
    font-size: 8px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .site-footer .information-link {
    font-size: 10px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer .site-footer .information-link {
    font-size: 10px !important;
  }
}

.footer .site-footer .copyright {
  font-size: 12px !important;
}

.footer .site-footer .copyright p {
  margin: 0;
}

@media (max-width: 479px) {
  .footer .site-footer .copyright {
    margin: 20px;
  }
}

@media (max-width: 479px) {
  .footer .site-footer .copyright {
    font-size: 8px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .site-footer .copyright {
    font-size: 10px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer .site-footer .copyright {
    font-size: 10px !important;
  }
}

@media (max-width: 479px) {
  .footer .site-footer {
    flex-direction: column;
    width: 260px;
    justify-content: center;
    text-align: center;
    padding: 10px 0 0;
  }
}

.social-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 991px) {
  .social-container {
    width: 45%;
  }
}

@media (max-width: 479px) {
  .social-container {
    margin: 15px 0;
    width: 85%;
  }
}

.cover-size {
  max-width: 1200px;
  margin: auto;
}

#home-banner {
  width: 100%;
  background-image: url("/storage/images/home/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 91px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  #home-banner {
    display: none;
  }
}

#home-banner .banner-container {
  margin-top: 20px;
  padding-top: 35px;
  text-align: center;
  color: #fff !important;
}

#home-banner .banner-container .litle {
  font-weight: 600;
  font-size: 20px;
}

#home-banner .banner-container .big {
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: normal;
  margin: auto;
  width: 98%;
  text-transform: uppercase;
}

#home-banner .banner-container .form-search {
  margin: 10px auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px !important;
}

@media (max-width: 479px) {
  #home-banner .banner-container .form-search {
    font-size: 18px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #home-banner .banner-container .form-search {
    font-size: 20px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #home-banner .banner-container .form-search {
    font-size: 20px !important;
  }
}

#home-banner .banner-container .form-search .searchbox {
  padding-left: 25px;
  height: 50px;
  font-weight: 500;
  width: 100%;
  padding-right: 10%;
  margin-right: 20px;
  border: none;
  font-size: 22px !important;
}

@media (max-width: 479px) {
  #home-banner .banner-container .form-search .searchbox {
    font-size: 18px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #home-banner .banner-container .form-search .searchbox {
    font-size: 20px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #home-banner .banner-container .form-search .searchbox {
    font-size: 20px !important;
  }
}

#home-banner .banner-container .form-search .home-btn-search {
  margin: 0;
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
  height: 50px;
  background-color: #509e2f !important;
  padding: 10px 15px;
  color: #fff !important;
}

#home-banner .banner-container .form-search .home-btn-search:hover {
  background-color: #32631d !important;
}

.switcher {
  display: flex;
  justify-content: center;
}

.switcher .switcher-item {
  font-size: 24px !important;
  letter-spacing: 2px;
  font-weight: 600;
  color: #ffffff !important;
  cursor: pointer;
  margin: 10px 25px 0px;
  text-transform: uppercase;
}

@media (max-width: 479px) {
  .switcher .switcher-item {
    font-size: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .switcher .switcher-item {
    font-size: 22px !important;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .switcher .switcher-item {
    font-size: 22px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .switcher .switcher-item {
    font-size: 22px !important;
  }
}

@media (max-width: 767px) {
  .switcher .switcher-item {
    color: #000000 !important;
    margin: 10px 0px 0px;
  }
}

.switcher .switcher-item.active {
  border-bottom: 4px solid #509e2f;
}

.switcher .switcher-item:hover {
  border-bottom: 4px solid #509e2f;
}

.switcher.switcher-mobile {
  display: flex;
  justify-content: space-around;
}

.switcher.switcher-mobile .switcher-item {
  font-size: 16px !important;
}

@media (max-width: 479px) {
  .switcher.switcher-mobile .switcher-item {
    font-size: 12px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .switcher.switcher-mobile .switcher-item {
    font-size: 14px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .switcher.switcher-mobile .switcher-item {
    font-size: 14px !important;
  }
}

#home-slider .home-slider {
  overflow: hidden;
  border-bottom: 1px solid #cecece;
}

#home-slider .home-slider .home-slider-item {
  position: relative;
  height: 190px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #home-slider .home-slider .home-slider-item {
    height: 150px !important;
  }
}

@media (max-width: 767px) {
  #home-slider .home-slider .home-slider-item {
    height: 130px !important;
  }
}

#home-slider .home-slider .home-slider-item img {
  position: absolute;
  max-width: 100%;
  min-height: 100%;
}

#home-container .home-row {
  margin-top: 24px;
  margin-bottom: 16px;
}

#home-container .home-row .home-row-container {
  display: flex;
  align-items: center;
  overflow: auto;
  margin-right: -15px;
  margin-left: -15px;
}

#home-container .home-row .home-row-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  #home-container .home-row .home-row-container {
    margin-right: 0px;
    margin-left: 0px;
  }
}

#home-container .home-row .home-row-col {
  width: 20%;
  padding: 0 8px;
}

@media (max-width: 767px) {
  #home-container .home-row .home-row-col {
    min-width: 200px;
  }
}

#home-container .home-row .home-row-category-col {
  width: 25%;
  padding: 0 8px;
}

@media (max-width: 767px) {
  #home-container .home-row .home-row-category-col {
    min-width: 180px;
  }
}

#home-news-release .home-news {
  width: 100%;
}

#home-news-release .home-news .home-news-container {
  display: flex;
  flex-direction: column;
}

#home-news-release .home-news .home-news-container .new-article {
  margin-top: 24px;
  padding-bottom: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #home-news-release .home-news .home-news-container .new-article {
    margin-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  #home-news-release .home-news .home-news-container .new-article {
    margin-top: 15px;
    padding-bottom: 15px;
  }
}

#home-news-release .home-news .home-news-container .new-article .new-article-title {
  font-weight: 600;
  font-size: 18px !important;
  color: #000000 !important;
}

@media (max-width: 479px) {
  #home-news-release .home-news .home-news-container .new-article .new-article-title {
    font-size: 14px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #home-news-release .home-news .home-news-container .new-article .new-article-title {
    font-size: 16px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #home-news-release .home-news .home-news-container .new-article .new-article-title {
    font-size: 16px !important;
  }
}

#home-news-release .home-news .home-news-container .new-article .new-article-info {
  opacity: 0.5;
}

#home-news-release .home-news .home-news-container .new-article:last-child {
  border-bottom: none !important;
}

.home-trade-mark {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  overflow: auto;
  font-size: 24px !important;
}

@media (max-width: 479px) {
  .home-trade-mark {
    font-size: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-trade-mark {
    font-size: 22px !important;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .home-trade-mark {
    font-size: 22px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home-trade-mark {
    font-size: 22px !important;
  }
}

.home-trade-mark::-webkit-scrollbar {
  display: none;
}

.browse-all-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #509e2f !important;
  color: #ffffff !important;
  font-size: 20px !important;
  font-weight: normal;
  text-align: center;
  padding: 25px 30px 22px;
  margin: 45px auto;
  border-radius: 4px;
}

@media (max-width: 479px) {
  .browse-all-button {
    font-size: 16px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .browse-all-button {
    font-size: 18px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .browse-all-button {
    font-size: 18px !important;
  }
}

@media (max-width: 767px) {
  .browse-all-button {
    font-size: 14px !important;
    padding: 10px;
  }
}

.browse-all-button:hover {
  cursor: pointer;
  background-color: #32631d !important;
}

.list-banner {
  height: 170px;
  background: #ececec !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1200px) {
  .list-banner {
    padding-left: calc((100vw - 1170px)/2 + 15px);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .list-banner {
    padding-left: calc((100vw - 970px)/2 + 15px);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .list-banner {
    padding-left: 25px;
  }
}

@media (max-width: 767px) {
  .list-banner {
    padding-left: 25px;
  }
}

.list-banner .banner-content {
  width: 100%;
}

.list-banner .banner-content .title {
  font-size: 40px;
  margin: auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .list-banner .banner-content .title {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .list-banner .banner-content .title {
    font-size: 30px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .list-banner .banner-content .title {
    font-size: 30px;
  }
}

@media (max-width: 479px) {
  .list-banner .banner-content .title {
    font-size: 22px;
  }
}

.list-banner .banner-content .one-liner {
  font-size: 14px;
  white-space: normal;
  font-family: proxima-nova, sans-serif;
  letter-spacing: 0;
  font-weight: 500;
}

.list-banner .banner-image {
  width: 60%;
  height: 100%;
  align-self: stretch;
  position: relative;
  background-size: cover;
}

.list-banner .banner-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 25%;
  height: 101%;
  -webkit-clip-path: polygon(0% 0, 0 100%, 100% 0%);
          clip-path: polygon(0% 0, 0 100%, 100% 0%);
  background-color: #ececec !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .list-banner .banner-image {
    display: none;
  }
}

@media (max-width: 767px) {
  .list-banner .banner-image {
    display: none;
  }
}

.list-banner .banner-filter-group {
  display: flex;
  margin-right: 150px;
}

.list-banner .banner-filter-group .btn-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-banner .banner-filter-group .sort-dropdown-button {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.list-content {
  margin-top: 45px;
  margin-bottom: 60px;
}

.sidebar-container .sidebar-section {
  margin-bottom: 40px;
}

.sidebar-container .sidebar-section .category-option {
  font-family: proxima-nova, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

.sidebar-container .sidebar-section .category-option.active {
  font-color: #ff5a5f !important;
}

.sidebar-container .sidebar-section .sidebar-filter-group .title {
  font-family: proxima-nova, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

.sidebar-container .sidebar-section .sidebar-filter-group .size-label {
  font-weight: 600;
  font-family: BebasNeue;
  font-size: 16px;
  padding-top: 2px;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 30px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}

.sidebar-container .sidebar-section .sidebar-filter-group .sidebar-checkbox-form {
  margin: 7px 0 0 0;
}

.sidebar-container .sidebar-section .sidebar-filter-group .sidebar-checkbox-form label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  margin: 0px;
  font-size: 14px;
}

.sortbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.sortbar .sortbar-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortbar .sortbar-group .sort-dropdown {
  width: 200px;
}

.sortbar .sortbar-group .sort-dropdown .sort-dropdown-button {
  height: 48px;
  margin-right: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #c7c7c7;
  -o-border-image: initial;
     border-image: initial;
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  align-items: center;
}

.sortbar .sortbar-group .sort-dropdown .sort-dropdown-button .sort-dropdown-button {
  margin-right: 10px;
}

.sortbar .sortbar-group .sort-dropdown .sort-dropdown-container {
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 2;
  border: 1px solid #dee2e6 !important;
  overflow: auto;
}

.sortbar .sortbar-group .show-type {
  font-size: 24px;
  padding: 0 5px;
  color: #cccccc !important;
  cursor: pointer;
}

.sortbar .sortbar-group .show-type.active {
  color: #000000 !important;
  cursor: auto;
}

.sort-dropdown-content {
  list-style-type: none;
  width: 100%;
  height: auto;
  background-color: #ffffff !important;
  position: static;
  overflow-y: none;
  border: none;
  z-index: 0;
  margin: 0;
}

.sort-dropdown-content .sort-dropdown-item {
  padding: 16px 16px 6px;
  border-bottom: 1px solid #dee2e6 !important;
}

.sort-dropdown-content .sort-dropdown-item .title {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}

.sort-dropdown-content .sort-dropdown-item .content {
  font-size: 12px;
}

.sort-dropdown-content .sort-dropdown-item:nth-child(even) {
  background-color: #fafafa !important;
}

.custom-breadcrumb {
  display: flex;
  align-items: center;
}

.custom-breadcrumb .breadcrumb-item .breadcrumb-link {
  font-size: 14px;
  color: #666666 !important;
}

@media (max-width: 767px) {
  .custom-breadcrumb .breadcrumb-item .breadcrumb-link {
    font-size: 12px;
  }
}

.custom-breadcrumb .breadcrumb-item .breadcrumb-link:hover {
  color: #00bbe3 !important;
}

.custom-breadcrumb .breadcrumb-item:last-child {
  font-weight: 700;
}

.products-table thead th {
  text-align: left;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
}

.products-table thead th.active {
  color: #00bbe3;
}

.products-table thead th.sort-able {
  cursor: pointer;
}

.products-table thead th.sort-able i {
  display: inline-block;
  float: right;
  line-height: 20px;
}

@media (max-width: 1199px) {
  .products-table thead th:last-child {
    display: none;
  }
}

@media (max-width: 991px) {
  .products-table thead th:nth-last-child(2) {
    display: none;
  }
}

@media (max-width: 767px) {
  .products-table thead th:nth-last-child(3) {
    display: none;
  }
}

.products-table tbody {
  font-size: 14px !important;
}

@media (max-width: 1199px) {
  .products-table tbody tr td:last-child {
    display: none;
  }
}

@media (max-width: 991px) {
  .products-table tbody tr td:nth-last-child(2) {
    display: none;
  }
}

@media (max-width: 767px) {
  .products-table tbody tr td:nth-last-child(3) {
    display: none;
  }
}

.products-table tbody .product-pride {
  width: 15%;
}

.products-table tbody .product-title {
  display: flex;
  align-items: center;
}

.products-table tbody .product-title .product-image {
  width: 100px;
  height: 75px;
  margin-right: 12px;
}

.products-table tbody .product-title .product-image img {
  max-width: 100%;
  max-height: 100%;
}

.products-table tbody .product-title .product-name {
  font-size: 14px;
  width: 50%;
}

.product-detail-container .product-detail-header h1 {
  font-family: proxima-nova, sans-serif;
  letter-spacing: 0;
  font-weight: 700;
}

.product-detail-container .product-detail-header small {
  color: #000000 !important;
  display: block;
  letter-spacing: 0.3px;
  font-weight: 600;
  font-size: 18px !important;
  text-transform: uppercase;
  margin-top: 5px;
}

@media (max-width: 479px) {
  .product-detail-container .product-detail-header small {
    font-size: 14px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-detail-container .product-detail-header small {
    font-size: 16px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .product-detail-container .product-detail-header small {
    font-size: 16px !important;
  }
}

.product-detail-container .product-detail-header small .header-stat {
  margin-top: 5px;
  text-transform: capitalize;
  color: #999 !important;
  display: inline;
}

.product-detail-container .product-detail-header small .header-stat .header-stat-green {
  color: #509e2f !important;
  font-weight: 700;
}

.product-detail-container .product-detail-header small .header-stat .header-stat-black {
  color: #000000 !important;
}

.product-detail-container .product-detail-header small .divider-pipe {
  font-weight: 600;
  padding: 0 10px;
  display: inline;
}

.product-detail-container .product-detail-header .market-summary {
  display: flex;
  margin-top: 40px;
}

.product-detail-container .product-detail-header .market-summary .options {
  padding-right: 25px;
  border-right: 1px solid #ccc;
  margin-bottom: 20px;
}

.product-detail-container .product-detail-header .market-summary .options label {
  color: #999 !important;
  font-size: 18px;
}

.product-detail-container .product-detail-header .market-summary .options .select-options {
  color: #000000 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-detail-container .product-detail-header .market-summary .options .select-options button {
  font-size: 30px;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  text-transform: capitalize;
  white-space: normal;
  text-align: left;
  letter-spacing: 0;
}

@media (max-width: 1199px) {
  .product-detail-container .product-detail-header .market-summary .options .select-options button {
    font-size: 24px;
  }
}

.product-detail-container .product-detail-header .market-summary .options .select-options button i {
  font-size: 16px;
  margin-left: 15px;
  color: #999;
}

.product-detail-container .product-detail-header .market-summary .last-sale-block {
  padding: 0 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 12px;
}

@media (max-width: 1199px) {
  .product-detail-container .product-detail-header .market-summary .last-sale-block {
    padding: 0 10px;
  }
}

.product-detail-container .product-detail-header .market-summary .last-sale-block .last-sale {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .product-detail-container .product-detail-header .market-summary .last-sale-block .last-sale {
    flex-direction: column;
    text-align: center;
  }
}

.product-detail-container .product-detail-header .market-summary .last-sale-block .last-sale h3 {
  font-family: proxima-nova, sans-serif;
  letter-spacing: 0;
  font-weight: 700;
  color: #999 !important;
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
}

.product-detail-container .product-detail-header .market-summary .last-sale-block .last-sale .sale-value {
  font-family: proxima-nova, sans-serif;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 30px;
  margin: 0 5px 0 10px;
  font-weight: 500;
}

@media (max-width: 1199px) {
  .product-detail-container .product-detail-header .market-summary .last-sale-block .last-sale .sale-value {
    font-size: 24px;
  }
}

.size-container {
  display: flex;
  margin: 5px auto 0;
  font-weight: bold;
  font-size: 14px !important;
}

@media (max-width: 479px) {
  .size-container {
    font-size: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .size-container {
    font-size: 12px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .size-container {
    font-size: 12px !important;
  }
}

.size-container .size-divider {
  border-left: 1px solid #999 !important;
  align-self: stretch;
  margin: 5px 10px;
}

@media (max-width: 991px) {
  .size-container .size-divider {
    margin: 5px;
  }
}

.button-big {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .button-big {
    padding: 0 10px;
  }
}

.button-big .button-big-contaner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 13px 17px 5px;
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  min-height: 50px;
}

.button-big .button-big-contaner.bid {
  border-bottom: 4px solid #509e2f !important;
  background-color: #509e2f !important;
}

.button-big .button-big-contaner.bid .small {
  color: #c6e6c2 !important;
}

.button-big .button-big-contaner.ask {
  border-bottom: 4px solid #ff5a5f !important;
  background-color: #ff5a5f !important;
}

.button-big .button-big-contaner.ask .small {
  color: #ffcfcf !important;
}

.button-big .button-big-contaner .big {
  line-height: 1;
  font-weight: 500;
  font-size: 30px;
  color: #ffffff !important;
}

@media (max-width: 1199px) {
  .button-big .button-big-contaner .big {
    font-size: 24px;
  }
}

.button-big .button-big-contaner .small {
  font-family: proxima-nova, sans-serif;
  letter-spacing: 0;
  font-weight: 700;
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  font-weight: 600;
}

@media (max-width: 1199px) {
  .button-big .button-big-contaner .small {
    font-size: 16px;
  }
}

.button-big .button-big-contaner .button-big-divider {
  border-left: 1px solid #fff;
  align-self: stretch;
  margin: 0 18px;
}

.range-slider-container {
  width: 50%;
  margin: 0 auto;
}

.range-slider-container .range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.range-slider-container .range-slider:hover {
  opacity: 1;
}

.range-slider-container .range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #509e2f !important;
  cursor: pointer;
}

.product-media .image-media {
  min-height: 400px;
  cursor: ew-resize;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

.product-media .image-media img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  outline: none;
}

.product-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-info .info .title {
  font-weight: bold;
  margin-right: 3px;
  text-transform: uppercase;
}

.product-market-summary-wrap {
  background: #cccccc !important;
}

.product-market-summary-wrap .product-market-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.product-market-summary-wrap .product-market-summary .product-market-summary-col {
  display: flex;
}

.product-market-summary-wrap .product-market-summary .product-market-summary-col img {
  width: 18px;
  margin-right: 3px;
}

.product-market-summary-wrap .product-market-summary .product-market-summary-col .content {
  font-weight: bold;
  text-transform: uppercase;
}

.product-market-summary-wrap .product-market-summary .product-market-summary-col .content .value {
  margin-left: 5px;
}

.related-products {
  margin-bottom: 20px;
}

.statistical {
  border-top: 1px solid #dee2e6 !important;
}

