// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@font-face {
    font-family: BebasNeue;
    src: local('BebasNeue Regular'), local('BebasNeue-Regular'), url('/plugins/bebas_neue/fonts/BebasNeue-Regular.woff2') format('woff2');
}
@font-face {
    font-family: Lato;
    src: local('Lato Regular'), local('Lato-Regular'), url('/plugins/lato/fonts/lato-v16-latin-regular.woff2') format('woff2');
}
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
